.css-item {
  height: 520px;
}
.css-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.custom-caption {
  top: 120px;
}
@media screen and (max-width: 768px) {
  .css-item {
    height: 320px;
  }
}
