.css-item {
  height: 510px;
}
.css-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.custom-caption {
  top: 25%;
}
#booking-Modal .form-control:focus,
#booking-Modal .form-select:focus {
  box-shadow: none;
  outline: none;
  border-color: #ccc;
}
@media screen and (max-width: 768px) {
  .css-item {
    height: 320px;
  }
}
@media screen and (max-width: 550px) {
  .custom-caption {
    top: 0;
  }
}
