.css-item {
  height: 500px;
}
.css-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.custom-caption {
  top: 22%;
}
#booking-Modal .form-control:focus,
#booking-Modal .form-select:focus {
  box-shadow: none;
  outline: none;
  border-color: #ccc;
}

.bannerLable {
  height: 40px;
  background-color: #d9d9d9;
}
@media screen and (max-width: 768px) {
  .css-item {
    height: 320px;
  }
  .custom-caption {
    top: 15%;
  }
  .custom-caption > p {
    font-size: 1rem !important;
  }
  .custom-caption h2 {
    font-size: 1rem;
  }
  .custom-caption button {
    padding: 0.3rem 1.4rem !important;
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 985px) {
  .bannerLable {
    padding: 0.5rem;
    height: unset;
  }
}
